// Variables

// Main color
$primary-color: #000;
// $primary-color: #fff;

// Anchor color
$secondary-color: #00cdff;

// Font color
$font-color: #fff;
// $font-color: #000;
// $font-color: #003366; // midnight blue

$navbar-text-shadow: true;
// $header-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $primary-color;
// $header-background-color: #fff;
$intro-text-color: $font-color;
$navbar-color: $font-color;
// $navbar-color: #000;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $secondary-color;
